// ******************************************************************
// CONST
// ******************************************************************

$fpos-input-dark: #525252;
$fpos-input-grey: #777777;
$fpos-input-lightgrey: #eeeeee;

$fpos-white: #ffffff;
$fpos-silver: #999999;
$fpos-grey: #4d4d4d;
$fpos-black: #000000;
$fpos-red: #e06b5e;
$fpos-maroon: #800000;
$fpos-yellow: #ffe98a;
$fpos-olive: #aa8800;
$fpos-lime: #3c9d53;
$fpos-green: #256235;
$fpos-aqua: #2a7fff;
$fpos-teal: #5fd3bc;
$fpos-blue: #2a2aff;
$fpos-navy: #003380;
$fpos-fuchsia: #ff55dd;
$fpos-purple: #a80087;
$fpos-orange: #ff7f2a;
$fpos-darkbrown: #784421;    // 120,68,33
$fpos-brown: #aa4400;        // 170,68,0
$fpos-lightbrown: #ffb380;   // 255,179,128
$fpos-lightred: #e9afaf;     // 233,175,175
$fpos-lightyellow: #ffeeaa;  // 255,238,170
$fpos-lightgreen: #eeffaa;   // 238,255,170
$fpos-lightblue: #aaccff;    // 170,204,255
$fpos-lightestblue: #d5e5ff;   // 213,229,255
$fpos-lightteal: #aaeeff;    // 170,238,255
$fpos-lightestteal: #d5f6ff; // 213,246,255
$fpos-darkestbrown: #552200; // 85,34,0
$fpos-darkestred: #550000;   // 85,0,0
$fpos-lightestyellow: #fdf7e0; // 253,247,224
$fpos-lightestgreen: #f6ffd5;  // 246,255,213
$fpos-lightestred: #f3e0e0; // 243,224,224
$fpos-lightestgrey: #ededed; // 237,237,237
$fpos-darkestgrey: #3f3f3f; // 63,63,63
$fpos-schoko: #483737; // 72,55,55
$fpos-lightgold: #ffd700; // 255,215,0
$fpos-lightestgold: #fff09e; // 255,240,158 

$form-field-label-bg-color : #dcdce6;


// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..
// Examples of using the icon mixin:
// @include icon('user');



// ##################################################################
// STYLE


// ******************************************************************
// Invalids
// ******************************************************************

.invalidField .x-form-field {
  background-color: red !important;
}


// ******************************************************************
// Ext.view.NumDisplay
// ******************************************************************

.NumDisplay {
    font-family: "Lucida Console", Monaco, monospace;
    text-align: right;
    font-size: 1.3em;
    font-weight: bold;
    padding: 8px 6px 8px 6px;
    color: #555555 !important;
}

.NumDisplayInfo {
    font-size: 60%;
    padding: 6px 6px 6px 6px;
    color: grey !important;
    text-align: left;
}

.NumDisplayError {
    font-size: 60%;
    padding: 6px 6px 6px 6px;
    color: red !important;
    text-align: left;
}

// ******************************************************************
// NumberInput 
// ******************************************************************

@include sencha-button-ui('numInputButtonRed', $fpos-red,'matt');
@include sencha-button-ui('numInputButtonBlack', $fpos-input-dark,'matt');
@include sencha-button-ui('numInputButtonGreen', $fpos-lime,'matt');

.NumInputButton {
    margin: 2px;
    color: $fpos-white !important; 
    font-size: 1.3em;    
}

.NumInputContainer {
    background-color: $fpos-input-dark !important;
    padding: 8px;
}


// ******************************************************************
// Receipt
// ******************************************************************

.Receipt {
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


// ******************************************************************
// PosInput 
// ******************************************************************

@include sencha-button-ui('posInputButtonRed', $fpos-red, 'matt');
@include sencha-button-ui('posInputButtonBlack', $fpos-input-dark, 'matt');
@include sencha-button-ui('posInputButtonGray', $fpos-input-grey, 'matt');
@include sencha-button-ui('posInputButtonGreen', $fpos-lime, 'matt');
@include sencha-button-ui('posInputButtonGreenBevel', $fpos-lime, 'bevel');
@include sencha-button-ui('posInputButtonOrange', $fpos-orange, 'matt');
@include sencha-button-ui('posInputButtonWhite', $fpos-white, 'matt');

@include sencha-button-ui('posInputButton-white', $fpos-white, 'matt');
@include sencha-button-ui('posInputButton-silver', $fpos-silver, 'matt');
@include sencha-button-ui('posInputButton-grey', $fpos-grey, 'matt');
@include sencha-button-ui('posInputButton-black', $fpos-black, 'matt');
@include sencha-button-ui('posInputButton-red', $fpos-red, 'matt');
@include sencha-button-ui('posInputButton-maroon', $fpos-maroon, 'matt');
@include sencha-button-ui('posInputButton-yellow', $fpos-yellow, 'matt');
@include sencha-button-ui('posInputButton-olive', $fpos-olive, 'matt');
@include sencha-button-ui('posInputButton-lime', $fpos-lime, 'matt');
@include sencha-button-ui('posInputButton-green', $fpos-green, 'matt');
@include sencha-button-ui('posInputButton-aqua', $fpos-aqua, 'matt');
@include sencha-button-ui('posInputButton-teal', $fpos-teal, 'matt');
@include sencha-button-ui('posInputButton-blue', $fpos-blue, 'matt');
@include sencha-button-ui('posInputButton-navy', $fpos-navy, 'matt');
@include sencha-button-ui('posInputButton-fuchsia', $fpos-fuchsia, 'matt');
@include sencha-button-ui('posInputButton-purple', $fpos-purple, 'matt');

@include sencha-button-ui('posInputButton-darkbrown', $fpos-darkbrown, 'matt');
@include sencha-button-ui('posInputButton-brown', $fpos-brown, 'matt');
@include sencha-button-ui('posInputButton-lightbrown', $fpos-lightbrown, 'matt');
@include sencha-button-ui('posInputButton-lightred', $fpos-lightred, 'matt');
@include sencha-button-ui('posInputButton-lightyellow', $fpos-lightyellow, 'matt');
@include sencha-button-ui('posInputButton-lightgreen', $fpos-lightgreen, 'matt');
@include sencha-button-ui('posInputButton-lightblue', $fpos-lightblue, 'matt');
@include sencha-button-ui('posInputButton-lightestblue', $fpos-lightestblue, 'matt');
@include sencha-button-ui('posInputButton-lightteal', $fpos-lightteal, 'matt');
@include sencha-button-ui('posInputButton-lightestteal', $fpos-lightestteal, 'matt');
@include sencha-button-ui('posInputButton-darkestbrown', $fpos-darkestbrown, 'matt');
@include sencha-button-ui('posInputButton-darkestred', $fpos-darkestred, 'matt');
@include sencha-button-ui('posInputButton-lightestyellow', $fpos-lightestyellow, 'matt');
@include sencha-button-ui('posInputButton-lightestgreen', $fpos-lightestgreen, 'matt');
@include sencha-button-ui('posInputButton-lightestred', $fpos-lightestred, 'matt');
@include sencha-button-ui('posInputButton-lightestgrey', $fpos-lightestgrey, 'matt');
@include sencha-button-ui('posInputButton-darkestgrey', $fpos-darkestgrey, 'matt');
@include sencha-button-ui('posInputButton-schoko', $fpos-schoko, 'matt');
@include sencha-button-ui('posInputButton-lightgold', $fpos-lightgold, 'matt');
@include sencha-button-ui('posInputButton-lightestgold', $fpos-lightestgold, 'matt');


.PosInputButton {
    margin: 1px;
    color: $fpos-white !important; 
    font-size: 1.4em;    
}

.PosInputButtonSmallFont {
    margin: 1px;
    color: $fpos-white !important; 
    font-size: 1.2em;    
}

.PosInputContainer {
    background-color: $fpos-input-dark !important;
    padding: 2px;
}

.PosInputButtonOther {
    margin: 4px;
    color: $fpos-white !important; 
    font-size: 1.4em;    
}

// ******************************************************************
// PosStatusBar 
// ******************************************************************

@include sencha-toolbar-ui('posStatusBar', $fpos-input-dark, 'bevel');

.PosDisplayLabel {
    padding: 5px;    
    font-size: 1.5em; 
    text-align: right;
}

.PosDisplayState {
    padding: 5px;    
    font-size: 1.5em; 
    text-align: left;
}

.PosStatusBar {
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// ******************************************************************
// Test Container
// ******************************************************************

.TestContainer {
    padding: 10px;
}

.TestInfo {
    background-color: $fpos-white !important;
    margin: 4px;
    font-size: 0.6em;
    white-space: normal;
}

// ******************************************************************
// TestButton
// ******************************************************************

.TestButton {
    margin: 2px 4px;
    color: $fpos-white !important; 
    width: 72px;
    height: 56px;
    font-size: 0.8em;     
}

div.TestButton > span.x-button-label {
   white-space: normal;
}

// ******************************************************************
// Menu
// ******************************************************************

.MainMenu {
   background-color: $fpos-input-grey !important;
   background-image: none;
   width: 172px;
}

.MenuButton {
   color: $fpos-white !important; 
   width: 144px;
   height: 53px;
   font-size: 0.8em;
}

div.MenuButton > span.x-button-label {
   white-space: normal;
}

// ******************************************************************
// Menu Band
// ******************************************************************

.MenuBand {
   background-color: $fpos-input-grey !important;
   background-image: none;
   width: 240px;
}

.MenuBandButton {
   color: $fpos-white !important; 
   width: 228px;
   height: 56px;
   font-size: 0.8em;
   margin: 6px;
}

div.MenuBandButton > span.x-button-label {
   white-space: normal;
}


// ******************************************************************
// ProductView
// ******************************************************************

@include sencha-toolbar-ui('categoryToolbar', $fpos-input-grey, 'matt');

.CategoryToolbar {
}

.ProductContainer {   
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: $fpos-input-lightgrey
}

.ProductCategoryButton {
   width: 78px;
   height: 56px;
   margin: 2px;
   color: $fpos-white !important; 
   font-size: 1em;
}

div.ProductCategoryButton > span.x-button-label {
   white-space: normal;
}

.ProductCategoryButtonMedium {
   width: 78px;
   height: 56px;
   margin: 2px;
   color: $fpos-white !important; 
   font-size: 0.85em;
}

div.ProductCategoryButtonMedium > span.x-button-label {
   white-space: normal;
}

.ProductCategoryButtonSmall {
   width: 78px;
   height: 56px;
   margin: 2px;
   color: $fpos-white !important; 
   font-size: 0.72em;
}

div.ProductCategoryButtonSmall > span.x-button-label {
   white-space: normal;
}

.CategorySelection {
    background-color: $fpos-input-dark !important;
    width: 86px;
    padding-left: 2px;
}

.ProductDataView {
    margin: 2px;
}

.ProductButton {
    float: left;
    margin: 2px;
    font-size: 0.7em;
    white-space: normal;
}

.ProductButtonDark {
    float: left;
    margin: 2px;
    font-size: 0.7em;
    white-space: normal;
    color: $fpos-white !important; 
}

.ProductItemNoCat {
    display: table;
}

.ProductButtonNoCat {
    margin: 2px;
    font-size: 0.8em;
    white-space: normal;
}

.ProductTextBigNoCat {
    display: table-cell;
    align: left;
    vertical-align: top;
    font-size: 2em;    
}

.ProductTextNoCat {
    display: table-cell;
    align: left;
    vertical-align: top;
    font-size: 1.5em;    
}

.ProductPrice {
    position: absolute;
    top: 2px;
    right: 2px;
    vertical-align: top;
    line-height: 13px;
    color: $fpos-white !important; 
    background-color: $fpos-input-grey !important;
    padding: 2px 5px;
    border-radius: 2px;
}

.ProductImageNoCat  {
    display: table-cell;
    align: left;
    vertical-align: top;
    padding-right: 6px;
}

.ProductImage {
    position: relative;
    text-align: center;   
}

.ProductText {
    text-align: center;
}

.ProductTextOnly {
    text-align: center;
    font-size: 1.4em;
}

.ProductTextOnlyBig {
    text-align: center;
    font-size: 2em;
}


// ******************************************************************
// PosOrder
// ******************************************************************

.PosOrderItem {
    display: table;
    font-size: 0.9em;
}

.PosOrderLineDescription {
    width: 100%;
    align: left;
    display: table-cell;
}

.PosOrderIndent {
    width: 5%;
    align: left;
    display: table-cell;
}

.PosOrderLine {
    width: 100%;
    align: left;
    font-weight: bold;
    display: table-cell;
}

.PosOrderLineName {
    font-size: 1.3em;
    width: 100%;
    align: left;
    display: table-cell;
}

.PosOrderLineAmount {
}

.PosOrderLineNotice {
    font-size: 0.8em;
    width: 100%;
    align: left;
    display: table-cell;
}

.PosOrderLineTag {
    margin-bottom: 3px;
}

.PosOrderLineGroup {
   font-size: 12px;
   line-height: 13px;
   color: $fpos-white !important; 
   background-color: $fpos-input-grey !important;
   padding: 2px;
   border-radius: 2px;
}

.PosOrderLineDiscount {
}

.PosOrderLinePrice {
    display: table-cell;
    font-size: 1.3em;
    vertical-align: middle;
    align: right;
}


// ******************************************************************
// PosOrderState
// ******************************************************************

.PosOrderState {
    display: table;
}

.PosOrderCurrency {
    display: table-cell;
    vertical-align: middle;    
}

.PosOrderInfo {
    display: table-cell;    
    padding-left: 5px;
    height: 100%;
}

.PosOrderInfo1 {
    font-size: 0.5em;
    vertical-align: middle;
}

.PosOrderInfo2 {
    font-size: 0.5em;
    vertical-align: middle;
}


// ******************************************************************
// PrintReport
// ******************************************************************
         
.PrintContent {    
    width: 80mm;
    margin: auto;
}


// ******************************************************************
// Scale
// ******************************************************************

.ScaleInput {
    background-color: $fpos-input-grey !important;
    padding: 10px;    
}

.ScaleLabel {
    background-color: $fpos-input-dark !important;
    padding: 5px;    
    font-weight: bold;
    color: white;    
}

.ScaleLabelWeight {
    float: right;
    font-size: 2em; 
}

.ScaleLabelTara {
    float: left;
    font-size: 1em;
}

// ******************************************************************
// Payment
// ******************************************************************

.PaymentSummary {
    background-color: $fpos-input-grey;
    color: white;
    padding: 5px;
}

.PaymentListItem {
    display: table;
    font-size: 1.3em;
    font-weight: bold;
}

.PaymentItem {
    display: table;
    font-size: 1.3em;
    padding: 4px;
}

.PaymentName {
    width: 100%;
    align: left;
    display: table-cell;
}

.PaymentValue {
    display: table-cell;
    align: right;
}

.PaymentChangeItem {
    display: table;
    font-size: 1.6em;
    font-weight: bold;
    padding: 4px;
}

// ******************************************************************
// Product Menu
// ******************************************************************

.ProductMenu {
    padding: 0px;
}


// ******************************************************************
// TopView
// ******************************************************************

.TopContainer {   
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: $fpos-input-lightgrey
}

.TopButton {
   width: 78px;
   height: 56px;
   margin: 2px;
   color: $fpos-white !important; 
   font-size: 1em;
}

div.TopButton > span.x-button-label {
   white-space: normal;
}

.TopButtonMedium {
   width: 78px;
   height: 56px;
   margin: 2px;
   color: $fpos-white !important; 
   font-size: 0.85em;
}

div.TopButtonMedium > span.x-button-label {
   white-space: normal;
}

.TopButtonSmall {
   width: 78px;
   height: 56px;
   margin: 2px;
   color: $fpos-white !important; 
   font-size: 0.72em;
}

div.TopButtonSmall > span.x-button-label {
   white-space: normal;
}

.TopSelection {
    background-color: $fpos-input-dark !important;
    width: 86px;
    padding-left: 2px;
}

.PlaceDataView {
    margin: 2px;
}

.PlaceButton {
    float: left;
    margin: 2px;
    font-size: 0.7em;
    white-space: normal;
}

.PlaceButtonDark {
    float: left;
    margin: 2px;
    font-size: 0.7em;
    white-space: normal;
    color: $fpos-white !important; 
}

.PlaceItemNoCat {
    display: table;
}

.PlaceButtonNoTop {
    margin: 2px;
    font-size: 0.8em;
    white-space: normal;
}

.PlaceTextBigNoTop {
    display: table-cell;
    align: left;
    vertical-align: top;
    font-size: 2em;    
}

.PlaceTextNoTop {
    display: table-cell;
    align: left;
    vertical-align: top;
    font-size: 1.5em;    
}

.PlaceImageNoTop  {
    display: table-cell;
    align: left;
    vertical-align: top;
    padding-right: 6px;
}

.PlaceImage {
    position: relative;
    text-align: center;   
}

.PlaceText {
    text-align: center;
}

.PlaceTextOnly {
    text-align: center;
    font-size: 1.4em;
}

.PlaceTextOnlyBig {
    text-align: center;
    font-size: 2em;
}

.PlaceAmount {
    position: absolute;
    top: 2px;
    right: 2px;
    vertical-align: top;
    line-height: 13px;
    color: $fpos-white !important; 
    background-color: $fpos-input-grey !important;
    padding: 2px 5px;
    border-radius: 2px;
}

.PlaceUser {
    position: absolute;
    bottom: 2px;
    right: 2px;
    vertical-align: bottom;
    line-height: 13px;
    color: $fpos-white !important; 
    background-color: $fpos-input-grey !important;
    padding: 2px 5px;
    border-radius: 2px;
}
