<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-poshw"
        version="2.0.0">

    <name>POS Hardware Plugin</name>
    <description>
        Basic Support for POS Hardware     
    </description>
    <license>Apache 2.0</license>
    <keywords>cordova,pos</keywords>
    <repo>https://github.com/funkring/cordova-plugin-poshw</repo>
    <issue>https://github.com/funkring/cordova-plugin-poshw/issues</issue>
    
    <engines>
        <engine name="cordova-android" version=">=4"/>
    </engines>
    
    <!--  declarate js files/api -->
    <asset src="cordova/www/PosHw.js" target="js/PosHw.js"/>
    
    <!-- register entry point -->
    <js-module src="cordova/www/PosHw.js" name="PosHw">
        <clobbers target="PosHw" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <framework src="com.android.support:support-v4:+" />
        
        <!--  generated -->
			
        <source-file src="cordova/android/src/at/oerp/pos/cordova/PosHwPlugin.java" target-dir="src/at/oerp/pos/cordova/" />
        <source-file src="src/at/oerp/smartcard/ResponseAPDU.java" target-dir="src/at/oerp/smartcard/" />
        <source-file src="src/at/oerp/smartcard/SmartCardUtil.java" target-dir="src/at/oerp/smartcard/" />
        <source-file src="src/at/oerp/smartcard/SmartCardCardOS.java" target-dir="src/at/oerp/smartcard/" />
        <source-file src="src/at/oerp/smartcard/WrongCardException.java" target-dir="src/at/oerp/smartcard/" />
        <source-file src="src/at/oerp/smartcard/CashRegisterSmartCardFactory.java" target-dir="src/at/oerp/smartcard/" />
        <source-file src="src/at/oerp/smartcard/SmartCardACOS.java" target-dir="src/at/oerp/smartcard/" />
        <source-file src="src/at/oerp/smartcard/AbstractCashRegisterSmartCard.java" target-dir="src/at/oerp/smartcard/" />
        <source-file src="src/at/oerp/smartcard/Card.java" target-dir="src/at/oerp/smartcard/" />
        <source-file src="src/at/oerp/smartcard/CommandAPDU.java" target-dir="src/at/oerp/smartcard/" />
        <source-file src="src/at/oerp/smartcard/ICashRegisterSmartCard.java" target-dir="src/at/oerp/smartcard/" />
        <source-file src="src/at/oerp/smartcard/ATR.java" target-dir="src/at/oerp/smartcard/" />
        <source-file src="src/at/oerp/smartcard/SmartCardException.java" target-dir="src/at/oerp/smartcard/" />
        <source-file src="src/at/oerp/util/LinePrintDriver.java" target-dir="src/at/oerp/util/" />
        <source-file src="src/at/oerp/util/FileUtil.java" target-dir="src/at/oerp/util/" />
        <source-file src="src/at/oerp/util/StringUtil.java" target-dir="src/at/oerp/util/" />
        <source-file src="src/at/oerp/util/IObjectResolver.java" target-dir="src/at/oerp/util/" />
        <source-file src="src/at/oerp/util/BinUtil.java" target-dir="src/at/oerp/util/" />
        <source-file src="src/at/oerp/util/HtmlLinePrinter.java" target-dir="src/at/oerp/util/" />
        <source-file src="src/at/oerp/pos/PosHwPrinter.java" target-dir="src/at/oerp/pos/" />
        <source-file src="src/at/oerp/pos/ReadConfig.java" target-dir="src/at/oerp/pos/" />
        <source-file src="src/at/oerp/pos/PosHwScale.java" target-dir="src/at/oerp/pos/" />
        <source-file src="src/at/oerp/pos/PosHwRS232.java" target-dir="src/at/oerp/pos/" />
        <source-file src="src/at/oerp/pos/PosHwDisplay.java" target-dir="src/at/oerp/pos/" />
        <source-file src="src/at/oerp/pos/CtrlBytes.java" target-dir="src/at/oerp/pos/" />
        <source-file src="src/at/oerp/pos/PosHwSmartCard.java" target-dir="src/at/oerp/pos/" />
        <source-file src="src/at/oerp/pos/PosHwScan.java" target-dir="src/at/oerp/pos/" />
        <source-file src="src/at/oerp/pos/PosHwService.java" target-dir="src/at/oerp/pos/" />
        <source-file src="src/at/oerp/pos/WeightResult.java" target-dir="src/at/oerp/pos/" />
        <source-file src="src/at/oerp/pos/hw/android/AndroidHwService.java" target-dir="src/at/oerp/pos/hw/android/" />
        <source-file src="src/at/oerp/pos/hw/android/BTPrinter.java" target-dir="src/at/oerp/pos/hw/android/" />
        <source-file src="src/at/oerp/pos/hw/android/BTPrinter80.java" target-dir="src/at/oerp/pos/hw/android/" />
        <source-file src="src/org/ccil/cowan/tagsoup/ScanHandler.java" target-dir="src/org/ccil/cowan/tagsoup/" />
        <source-file src="src/org/ccil/cowan/tagsoup/HTMLSchema.java" target-dir="src/org/ccil/cowan/tagsoup/" />
        <source-file src="src/org/ccil/cowan/tagsoup/Parser.java" target-dir="src/org/ccil/cowan/tagsoup/" />
        <source-file src="src/org/ccil/cowan/tagsoup/PYXScanner.java" target-dir="src/org/ccil/cowan/tagsoup/" />
        <source-file src="src/org/ccil/cowan/tagsoup/HTMLScanner.java" target-dir="src/org/ccil/cowan/tagsoup/" />
        <source-file src="src/org/ccil/cowan/tagsoup/XMLWriter.java" target-dir="src/org/ccil/cowan/tagsoup/" />
        <source-file src="src/org/ccil/cowan/tagsoup/ElementType.java" target-dir="src/org/ccil/cowan/tagsoup/" />
        <source-file src="src/org/ccil/cowan/tagsoup/Schema.java" target-dir="src/org/ccil/cowan/tagsoup/" />
        <source-file src="src/org/ccil/cowan/tagsoup/AttributesImpl.java" target-dir="src/org/ccil/cowan/tagsoup/" />
        <source-file src="src/org/ccil/cowan/tagsoup/CommandLine.java" target-dir="src/org/ccil/cowan/tagsoup/" />
        <source-file src="src/org/ccil/cowan/tagsoup/HTMLModels.java" target-dir="src/org/ccil/cowan/tagsoup/" />
        <source-file src="src/org/ccil/cowan/tagsoup/AutoDetector.java" target-dir="src/org/ccil/cowan/tagsoup/" />
        <source-file src="src/org/ccil/cowan/tagsoup/Scanner.java" target-dir="src/org/ccil/cowan/tagsoup/" />
        <source-file src="src/org/ccil/cowan/tagsoup/Element.java" target-dir="src/org/ccil/cowan/tagsoup/" />
        <source-file src="src/org/ccil/cowan/tagsoup/PYXWriter.java" target-dir="src/org/ccil/cowan/tagsoup/" />
        <source-file src="src/org/ccil/cowan/tagsoup/jaxp/SAXParserImpl.java" target-dir="src/org/ccil/cowan/tagsoup/jaxp/" />
        <source-file src="src/org/ccil/cowan/tagsoup/jaxp/SAXFactoryImpl.java" target-dir="src/org/ccil/cowan/tagsoup/jaxp/" />
        <source-file src="src/org/ccil/cowan/tagsoup/jaxp/SAX1ParserAdapter.java" target-dir="src/org/ccil/cowan/tagsoup/jaxp/" />
        <source-file src="src/org/ccil/cowan/tagsoup/jaxp/JAXPTest.java" target-dir="src/org/ccil/cowan/tagsoup/jaxp/" />

        <source-file src="libs/core-1.54.0.0.jar" target-dir="libs/" />
        <source-file src="libs/pkix-1.54.0.0.jar" target-dir="libs/" />

        <source-file src="res/drawable/oerp_480x320.png" target-dir="res/drawable/" />
        <source-file src="res/drawable/display_ts7003.png" target-dir="res/drawable/" />

        
        <!--  generated from inherited -->
        

		<!--  activities -->
		
		<!-- as Example: source-file src="res/layout/activity_h510_scanner.xml" target-dir="res/layout/" /-->
		
		
		<!--  config -->
		
        <config-file target="config.xml" parent="/*">
            <feature name="PosHw">
                <param name="android-package" value="at.oerp.pos.cordova.PosHwPlugin"/>
            </feature>            
        </config-file>
        
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.BATTERY_STATS" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.NFC" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
     
		    <!-- cloudpos permissions -->
		    <uses-permission android:name="android.permission.CLOUDPOS_PRINTER" />
		    <uses-permission android:name="android.permission.CLOUDPOS_MSR"/>
		    <uses-permission android:name="android.permission.CLOUDPOS_CONTACTLESS_CARD"/>
		    <uses-permission android:name="android.permission.CLOUDPOS_SMARTCARD"/>
		    <uses-permission android:name="android.permission.CLOUDPOS_SERIAL"/>
		    <uses-permission android:name="android.permission.CLOUDPOS_LED" />
		    <uses-permission android:name="android.permission.CLOUDPOS_CUSTOMER_DISPLAY" />
		    <uses-permission android:name="android.permission.CLOUDPOS_PIN_GET_PIN_BLOCK"/> 
		    <uses-permission android:name="android.permission.CLOUDPOS_PIN_MAC" />
		    <uses-permission android:name="android.permission.CLOUDPOS_PIN_ENCRYPT_DATA"/>
		    <uses-permission android:name="android.permission.CLOUDPOS_PIN_UPDATA_USER_KEY"/>
		    <uses-permission android:name="android.permission.CLOUDPOS_PIN_UPDATE_MASTER_KEY"/>
		    <uses-permission android:name="android.permission.CLOUDPOS_IDCard"/>
		    <uses-permission android:name="android.permission.CLOUDPOS_MONEYBOX"/>
		    
		    <!-- camera usage -->
		    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.FLASHLIGHT" />
	        <uses-feature android:name="android.hardware.camera"  android:required="false"/>
            <uses-feature android:name="android.hardware.camera.autofocus"  android:required="false"/>
    
        </config-file>
        
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!--  activities -->
            <activity android:name="at.oerp.pos.hw.h510.H510ScanActivity" />
        </config-file>
        
        
    </platform>
</plugin>
